@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */

.bg-photo{
  background-color: #1ABC9C;
}

.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color:white;
    text-decoration: none;
}
li a:focus{
  background-color:#1abc9c;
  border-radius: 5px;
 padding: 10px;

}

 .slide{
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  background-color: #1ABC9C;
}
.layer:hover{
  opacity: 1;
  transition: 1s;
  background-color: #1abc9c;
}
.layer i{
  top: 35%;
  left: 35%;

}
.layerreb{
   top: 20%;
  left: 30%;
  

}
.row img{
  border-radius: 3%;
}
